
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<style>
		body {
			color:black;
			background-image:url(https://wallpaperscraft.com/image/triangle_light_dark_shape_88545_1920x1080.jpg);
		}
		.row {
		background : white;
		opacity : 0.8;
		width : 100%;
		}

</style>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EasyCourse</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Profil</a></li>
        <li><a href="/inscription">Inscription</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="row">
    <div class="col-md-4">
		<div id="map" style="width: 500px; height: 400px;"></div>
	</div>
		<div class="col-md-4">
			<h1>{{blog.pseudo}}</h1><p/>
      
		Description : {{blog.description}}
		</div>
		<div class="col-md-4">
			--------------------------Info perso--------------------------<p/>
			Email : {{blog.email}}<p/>
			Ville : {{blog.ville}}{{blog.postal}}<p/>
			Compétence : {{blog.competence}}<p/>
		</div>
</div>


<div id="adresse">
{{blog.pseudo}}:{{blog.ville}}:{{blog.postal}}
</div>

<script type="text/javascript">
function carte(item)
{
	var address = item[1]+", "+item[2];
		geocoder.geocode( { 'address': address}, function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
			latitude = results[0].geometry.location.lat();
			longitude = results[0].geometry.location.lng();
			locations.push([item[0], latitude, longitude, item[3], ""]);
			var map = new google.maps.Map(document.getElementById('map'), {
			  zoom: 10,
			  center: new google.maps.LatLng(locations[0][1],locations[0][2])
			});
			var infowindow = new google.maps.InfoWindow();
			var marker, i;
			for (i = 0; i < locations.length; i++) {  
			  marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map
			  });
			  google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
				  infowindow.setContent(locations[i][0] + " - " + locations[i][3] + locations[i][4]);
				  infowindow.open(map, marker);
				}
			  })(marker, i));
			}
		  } 
		});
}
  
  
  
  
var ad = document.getElementById('adresse');
var tab = ad.innerHTML.split(";");

var geocoder = new google.maps.Geocoder();
    var latitude;
    var longitude;
    var locations = new Array();
	
for(var iteration = 0 ; iteration < tab.length ; iteration++)
	{
		var item = tab[iteration].split(":");
		carte(item);
	}   

</script>

<footer>
<p>
    <a href="/">Home</a> ~ <a href="/about">About Me</a> ~ <a href="/article">Some Article</a>
</p>
</footer>

</body>